@import url('https://fonts.googleapis.com/css2?family=Qwigley&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Qwigley&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Qwigley&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.volkhov-regular {
  font-family: "Volkhov", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: large;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.bg-color{
    background:  #FA7436;
}

.shadow{
   box-shadow:  rgba(250, 116, 54, 0.24);
}

.color{
    color:  #FD8D3A;;
    
}

.t-color{

   color: #FA7436;
}

.text-color{
    color: white;
}

.nav{
    font: Volkhov;
    display: flex;
    margin: 2rem;
    align-items: center;
    justify-content: space-evenly;

}

.head{
    margin-left: 10px;
    vertical-align: middle;
}

.btn{
   border: 2px ;
   border-radius: 3px;
   font-size: large;
   padding: 10px 20px;
}

.Discover-btn{
    border: 2px solid #FA7436;
    background-color: white;
    color: #FA7436;
    padding: 10px 10px;
    font-size: large;
    border-radius: 5px;     

}

.btn-group{
    display: flex;
    align-items: center;
    gap: 50px;
}

.title{
    margin: 1em;
    justify-content: space-evenly;

}

.container{
    display: flex;
    align-items: center;
    justify-content:space-evenly ;
    /* margin: 5px; */

}

.card{
    align-items: center;
    justify-content: space-around;
        
}

.image-13{
    height: 400px;
    width:490px;
    padding: 2px 2px;
}



.img1{
     display: flex;
    height: 360px;
    width: 25em;
    border-radius: 100%;
    position: absolute ;
    left:80%;
    top:50%;
    transform:translate(-55%,-50%);
}

.sub{
    background: white;
}

.line{
    color: #666666;
    height: 100px;
    
}

.container2{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3em 10em;
    font-size: x-large;
    gap: 11px;
      

}

.page-1{
    background: #FEFCFB;
    padding: 10px 30px;
}

.things{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    text-align: center;
    float: center ;
}

.design{
    height: 5px;
    padding: 20px 50px;
    
}


.w{
 font-size: 13px;   
}

.para{
    font-size: 14px;

}

.swe{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 50px;
}

.signup{
    background: #FFFFFF;
    border-radius: 5px;
    padding: 25px 25px;
    

}

.container3{
    background: #F7F8FC;
}

.exclusive{

    align-items: center;
    text-align: center;
}

.star{
    height: 15px;
}

.spain{
    text-decoration: line-through ;
}

.madrid-850{
    background: #FFE7DB;
    border: 2px solid #FFE7DB;
}

.madrid{
    border: 1px solid #666666 ;
    border-radius: 10px;
    height: 290px;
    background: #FEFCFB;
}

.book{
    position: absolute;
    top: 1735px;
    right: 730px;
    border-radius: 10px;
}

.mfpl{
    display: flex;
    justify-content: space-evenly;
    padding: 55px 180px;
    gap: 9px;

}

.image{
    height: 200px;
    width: 200px;
}

.c4-btn{
    height:20px ;
    width: 20px;
    padding: 1px 10px;

    
}

.c4{
    display: flex;
    align-items: center;
    padding: 2px 610px;
    height: 1px;
    width: 20px;
}

.container4{
    background: #FEFCFB;
    padding: 10px;
}

.best{
    align-items: center;
    text-align: center;

}

.img-c{
    height: 155px;
    padding: 20px 50px;
    size: 10px;
}


.best-vac{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    text-align: center;
    float: center ;
    
}

.c5{
    display: flex;
}


.rlo-img1{
    height:270px;
    width: 270px;
    margin: 20px;
    padding: 12px 0px;
    
}

.rlo-img{
    height: 250px;
    width: 250px;
    justify-content: space-around;
    margin: 30px;
    padding: 10px 0px;
}

.rlo{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    padding: 2px 150px;
}



.container5{
    background: #FEFCFB ;
       
}

.What{
    padding: 150px;
 

}

.container6{
    display: flex;
    background: #F7F8FC;
}

.mike{
    padding: 175px 3px;
    background: #FFFFFF;

}

.mike-air{
    padding:55px;
}

.chris{

    align-items: center;
    padding: 60px 30px;
}

.get{
    text-align: center;
    padding: 100px 2px;
}

.get-image{

    height:250px ;
    width:250px ;
}

.get-4{
    display: flex;
    justify-content: space-evenly;
}


.container7{

    background: #FEFCFB;
}

.dot{
    text-align: center;
    padding: 50px 20px;
}

.mail-1{
    border: 2px solid black;
}

.container8{
    height: 250px;
    width: 700px;
    background: #FA7436;
    padding: 50px 100px;
    position: absolute;
    left: 280px;
    border-radius: 10px;
    
}

.subscribe{
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}

.sub-img{
    height: 200px;
    width: 100px;
    position: absolute;
    bottom: 100px;
    left: 700px;

}

.mail{

    background: #FFFFFF;
    height: 50px;
    width: 450px;
    border-radius: 10px;
    justify-content: space-between;
    
}

.e-mail{
    border: none;
    height: 20px;
    position: relative;
    top: 12px;
    left: 20px;

}



.sub-btn{
    height: 40px;
    width: 120px;
    border-radius: 10px;
    position: absolute;
    top: 180px;
    left: 421px;
}

.line-img{
    height: 20px;
    width: 20px;
    position: relative;
    right: 60px;
    bottom: 20px;
}


.social{
    display: flex;
}


.container9{
   background: #F7F8FC;
   padding: 100px;
}

.container10{

    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: 108px;
    bottom: 200px;
}

.trabook{
    position: relative;
    right: 50px;

}

